input[type=checkbox] {
    display:none;
}
input[type=checkbox] + label { 
    cursor: pointer; 
    padding-left: 30px; 
    background-repeat: no-repeat;
    background-image: url('/img/checkbox-gray1.png');
    background-size: 28px;
}
input[type=checkbox]:checked + label {
    background-image: url('/img/checkbox-black1.png');
    background-size: 28px;
}
