<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kreamy.myPageMapper">

<select id="listOne" parameterType="int" resultType="com.mvc.dto.MyPageDTO">
	select userNum,email,pwd,id,phone,shoesSize,profileImage,adSms,adEmail,bank,account,holder,grade,created from userInfo where userNum=#{userNum}
</select>

<select id="getPoint" parameterType="int" resultType="int">
	select nvl(sum(point),0) from point where userNum=#{userNum}
</select>

<select id="getValidPoint" parameterType="int" resultType="int">
	select nvl(sum(point),0) from point where userNum=#{userNum} and ADD_MONTHS( TRUNC(sysdate,'MM'), 1 ) > pointDate + (interval '12' month)
</select>

<select id="getDataCount" resultType="int">
	select count(*) from userInfo where userNum>0
</select>

<update id="updateAccount" parameterType="map">
	update userInfo set bank=#{bank}, account=#{account}, holder=#{holder} where userNum=#{userNum}
</update>

<update id="updatePwd" parameterType="map">
	update userInfo set pwd=#{newPwd} where userNum=#{userNum}
</update>

<update id="updateName" parameterType="map">
	update userInfo set id=#{newName} where userNum=#{userNum}
</update>

<update id="updateSize" parameterType="map">
	update userInfo set shoesSize=#{size} where userNum=#{userNum}
</update>

<update id="updateAdData" parameterType="map">
	update userInfo set 
	<if test="adData=='sms_on'">adSms='yes'</if>
	<if test="adData=='sms_off'">adSms='no'</if>
	<if test="adData=='email_on'">adEmail='yes'</if>
	<if test="adData=='email_off'">adEmail='no'</if>
	where userNum=#{userNum}
</update>

<update id="updateImage" parameterType="map">
	update userInfo set 
	<if test="image=='default'">profileImage='blank_profile.png'</if>
	<if test="image!='default'">profileImage=#{image}</if>
	where userNum=#{userNum}
</update>

<delete id="deleteUser" parameterType="int">
	delete userInfo where userNum=#{userNum}
</delete>

<select id="getPhoneList" resultType="String">
	select phone from userInfo
</select>

<update id="updatePhone" parameterType="map">
	update userInfo set phone=#{phone} where userNum=#{userNum}
</update>

</mapper>
